.container {
    position: relative;
    width: max-content;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
}

.container::before {
  content: "\2022 \ \2022 \ \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 1.5rem;
  line-height: 0;
  padding: 11px 0;
  text-indent: 8px;
}


.terminal::before {
    background-image: initial;
    background-color: rgb(44, 47, 49);
    color: rgb(194, 189, 181);
}

.container pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}